In [51]:
from DataToolsBox import ToolsBox

url_dataframe = "all_mtg_cards.zip"
toolBox = ToolsBox(url_dataframe)

In [ ]:
toolBox.dtx_describe()

In [ ]:
toolBox.df.head(100)

In [52]:
df_legendary = toolBox.df.loc[(toolBox.df['type'].str.contains(r'Legendary (Artifact )?Creature', regex=True))]
df_legendary.loc[toolBox.df['type'].str.contains(r'Legendary Artifact Creature')].head(1)

C:\Users\pilep\AppData\Local\Temp\ipykernel_15712\1119088515.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df_legendary = toolBox.df.loc[(toolBox.df['type'].str.contains(r'Legendary (Artifact )?Creature', regex=True))]

,name,multiverse_id,layout,names,mana_cost,cmc,colors,color_identity,type,supertypes,subtypes,rarity,text,flavor,artist,number,power,toughness,loyalty,variations,watermark,border,timeshifted,hand,life,reserved,release_date,starter,rulings,foreign_names,printings,original_text,original_type,legalities,source,image_url,set,set_name,id
1580,"Breya, Etherium Shaper",489865.0,normal,NaN,{W}{U}{B}{R},4.0,"['B', 'R', 'U', 'W']","['B', 'R', 'U', 'W']",Legendary Artifact Creature — Human,['Legendary'],['Human'],Mythic,"When Breya, Etherium Shaper enters the battlef...",NaN,Clint Cearley,192,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'date': '2017-04-17', 'text': 'Breya, Etheri...","[{'name': 'Breya, Ätheriumformerin', 'text': '...","['2XM', 'C16', 'OC16', 'PZ2', 'SLD']","When Breya, Etherium Shaper enters the battlef...",Legendary Artifact Creature — Human,"[{'format': 'Commander', 'legality': 'Legal'},...",NaN,http://gatherer.wizards.com/Handlers/Image.ash...,2XM,Double Masters,35fbfa3d-44fc-51aa-8b32-26ebd75c1f5d

In [39]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [53]:
df_col_selected = df_legendary[["name", "cmc", "colors", "type", "subtypes", "rarity", "power", "toughness", "set_name"]]
df_col_selected.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
name,5699,1760,"Thalia, Guardian of Thraben",16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cmc,5699.0,NaN,NaN,NaN,4.379014,1.800088,0.0,3.0,4.0,5.0,15.0
colors,5586,33,['B'],584,NaN,NaN,NaN,NaN,NaN,NaN,NaN
type,5699,548,Legendary Creature — Human Wizard,325,NaN,NaN,NaN,NaN,NaN,NaN,NaN
subtypes,5697,540,"['Human', 'Wizard']",328,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rarity,5699,6,Rare,3072,NaN,NaN,NaN,NaN,NaN,NaN,NaN
power,5699,15,3,1370,NaN,NaN,NaN,NaN,NaN,NaN,NaN
toughness,5699,17,3,1383,NaN,NaN,NaN,NaN,NaN,NaN,NaN
set_name,5699,344,Magic Online Promos,411,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
df_col_selected["colors"] = df_col_selected["colors"].fillna("['UC']")
type(df_col_selected.iloc[0]["colors"])

C:\Users\pilep\AppData\Local\Temp\ipykernel_15712\323942801.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_col_selected["colors"] = df_col_selected["colors"].fillna("['UC']")

str

In [55]:
df_col_selected.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
name,5699,1760,"Thalia, Guardian of Thraben",16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cmc,5699.0,NaN,NaN,NaN,4.379014,1.800088,0.0,3.0,4.0,5.0,15.0
colors,5699,34,['B'],584,NaN,NaN,NaN,NaN,NaN,NaN,NaN
type,5699,548,Legendary Creature — Human Wizard,325,NaN,NaN,NaN,NaN,NaN,NaN,NaN
subtypes,5697,540,"['Human', 'Wizard']",328,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rarity,5699,6,Rare,3072,NaN,NaN,NaN,NaN,NaN,NaN,NaN
power,5699,15,3,1370,NaN,NaN,NaN,NaN,NaN,NaN,NaN
toughness,5699,17,3,1383,NaN,NaN,NaN,NaN,NaN,NaN,NaN
set_name,5699,344,Magic Online Promos,411,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df_col_selected = df_col_selected.drop_duplicates(subset=["name"])

In [48]:
# a=input("ton nom?")
to_find = "Arcanis the Omnipotent"
given = "Zareth San, the Trickster"

details_to_find, details_given = [], []

details_to_find = df_col_selected.loc[df_col_selected["name"].str.contains(to_find)].to_dict(orient='records')
details_given = df_col_selected.loc[df_col_selected["name"].str.contains(given)].to_dict(orient='records')
details_to_find = details_to_find[0]
details_given = details_given[0]
# pd.DataFrame()

In [50]:
details_to_find

{'name': 'Arcanis the Omnipotent',
 'cmc': 6.0,
 'colors': "['U']",
 'type': 'Legendary Creature — Wizard',
 'subtypes': "['Wizard']",
 'rarity': 'Rare',
 'power': '3',
 'toughness': '4',
 'set_name': 'Tenth Edition'}

In [47]:
details_to_find['name']

'Arcanis the Omnipotent'

In [30]:
details_given

[{'name': 'Zareth San, the Trickster',
  'cmc': 5.0,
  'colors': "['B', 'U']",
  'type': 'Legendary Creature — Merfolk Rogue',
  'subtypes': "['Merfolk', 'Rogue']",
  'rarity': 'Rare',
  'power': '4',
  'toughness': '4',
  'set_name': 'Magic Online Promos'}]

In [36]:
import pandas as pd
details_given_test = pd.DataFrame([details_given[0],details_to_find[0]])
details_given_test

,name,cmc,colors,type,subtypes,rarity,power,toughness,set_name
0,"Zareth San, the Trickster",5.0,"['B', 'U']",Legendary Creature — Merfolk Rogue,"['Merfolk', 'Rogue']",Rare,4,4,Magic Online Promos
1,Arcanis the Omnipotent,6.0,['U'],Legendary Creature — Wizard,['Wizard'],Rare,3,4,Tenth Edition

In [66]:
type(df_col_selected['colors'].loc[df_col_selected["name"].str.contains(to_find)])

pandas.core.series.Series

In [67]:
type(df_col_selected['colors'].loc[df_col_selected["name"].str.contains("Ulamog, the Infinite Gyre")])

pandas.core.series.Series

In [68]:
import pandas as pd

# Création d'un index multi-niveaux
index = pd.MultiIndex.from_tuples([('A', 1), ('A', 2), ('B', 1), ('B', 2)])

# Création d'un DataFrame avec un index multi-niveaux
data = {'valeur': [10, 20, 30, 40]}
df = pd.DataFrame(data, index=index)

print(df)

     valeur
A 1      10
  2      20
B 1      30
  2      40